<IfModule mod_rewrite.c>
    RewriteEngine On

    ##
    ## You may need to uncomment (remove #) the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ## Example: for https://site.com enter: "/", for https://site.com/something enter: "/something/"
    ##
    # RewriteBase /

    ##
    ## Uncomment following lines to force HTTPS.
    ##
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>