#player-sidebar {
    width: 6.5em;
    top: 0;
    bottom: 0;
    z-index: 56;
    position: fixed;
    display: flex;
    border-right: $thin-border;
    flex-direction: column;
    div.hl {
        width: 80%;
        display: inline-block;
        height: 1px;
        background: #383838;
        margin-bottom: 0.5rem;
    }
    #sidebar-wrapper {
        height: 100%;
        @include sm {
            display: none;
        }
    }
    #bottom-nav {
        @media screen and( min-width: 600px) {
            display: none;
        }
    }
    .v-list-item__title,
    .v-list-item__subtitle {
        overflow: initial !important;
        text-overflow: unset !important;
        white-space: unset !important;
        text-align: center !important;
    }
    .v-list-item__title {
        font-size: .95em !important;
        font-weight: 600 !important;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: .5em;
    }

    .v-item-group.v-bottom-navigation .v-btn {
        @media screen and (max-width: 600px) {
            border-radius: 0 !important;
            box-shadow: none !important;
            font-size: 0.6rem !important;
            height: inherit !important;
            max-width: 168px !important;
            min-width: 50px !important;
            position: relative !important;
            text-transform: none !important;
        }
    }
    // custom sidebar styles
    // ul {
    //     padding: 0;
    //     list-style: none;
    //     font-size: 1.1rem;
    //     .list-title {
    //         color: $sidebar-text-color-dark;
    //         font-size: .9rem;
    //         font-weight: bold;
    //         padding-left: 1rem;
    //         padding-bottom: .6rem;
    //     }
    //     li {
    //         position: relative;
    //         a {
    //             color: $sidebar-text-color;
    //             &:focus,&:active,&:hover {
    //                 text-decoration: none;
    //             }
    //             &:hover {
    //                 .layer {
    //                     width: 100%;
    //                 }
    //             }

    //             .layer {
    //                 position: absolute;
    //                 width: 0px;
    //                 top: 0;
    //                 height: 100%;
    //                 transition: width .5s;
    //                 background-color: $sidebar-text-color-dark;
    //                 z-index: 998;
    //             }
    //         }
    //     }
    // }
    // .navigation-circles {
    // display: flex;
    // padding: .7rem 1.2rem;
    // justify-content: space-between;
    // .circle {
    //     text-align: center;
    //     display: flex;
    //     flex-direction: column;

    //     color: $light-theme-text-color;
    //     .img {
    //         position: relative;
    //         border: 1px solid $light-theme-text-color;
    //         border-radius: 50%;
    //         width: 2.5rem;
    //         height: 2.5rem;
    //         img {
    //             position: absolute;
    //             top: 50%;
    //             left: 50%;
    //             transform: translate(-50%,-50%);
    //             width: 1.15rem;
    //             height: 1.15rem;
    //         }
    //     }
    //     .content-text {
    //         font-size: .7rem;
    //         margin-top: .2rem;
    //     }
    //     }
    // }

    @media screen and( max-width: 900px) {
        width: 5.5em;
    }
    @include sm {
        top: unset;
        left: 0;
        right: 0;
        width: unset !important;
        padding: 0 !important;
        z-index: 1001;
    }
}

.list-group {
    height: 100%;
    display: flex;
    padding: 0 0.3em;
    top: 2.2em;
    flex-direction: column;
    
}
.sidebar-item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: auto !important;
    flex: 0 0 !important;
    padding: 0.3em 0 !important;
    border-radius: 22px !important;
    margin-bottom: 0.8em !important;
    .v-list-item__content {
        padding: 0.3em 0 !important;
    }
    &::before {
        border-radius: 22px;
    }
}
