.content-item {
    position: relative;
    padding: .2rem;
    min-width: 8em;
    max-width: 15.5em;
    &__header {
        position: relative;
        & > * {
            border-radius: 8px;
        }
        &:hover {
            .control-layer {
                opacity: 1;
            }
            .cover-layer {
                .img {
                    transform: scale(1.08) !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .button {
                background: transparent;
                border: none;
                img {
                    width: 100%;
                }
                &-play {
                    width: 30%;
                    margin: 0 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 70px;
                        height: 70px;
                        @media (max-width: 1600px) {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                &-dots {
                    width: 10%;
                    position: relative;
                }
                &-heart {
                    width: 14%;
                }
            }
        .control-layer {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 3;
            opacity: 0;
            transition: opacity 0.5s;
            .buttons {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .infos-layer {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            color: $light-theme-text-color;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 60%;
            margin-top: auto;
            z-index: 2;
            .overlay {
                background: -webkit-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0) 0%,
                    rgb(88, 79, 66) 100%
                );
                position: absolute;
                bottom: 0em;
                left: 0em;
                right: 0em;
                height: 100%;
                z-index: 0;
                border-radius: 0.3em;
            }
            .info-badge {
                z-index: 1;
                span {
                    background: #fff;
                    color: #000;
                    display: inline-block;
                    text-transform: uppercase;
                    border-radius: 0.2rem;
                    font-weight: 500;
                    font-size: 0.8em;
                    padding: 0 0.3rem;
                }
            }
        }
        .cover-layer {
            overflow: hidden;
            z-index: 1;
            position: relative;
            .img {
                transition: transform 0.5s;
                transform: scale(1.02);
            }
        }
        .badges-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 4;
            bottom: 0;
            .exclusive {
                position: absolute;
                top: 0;
                left: 0;
                font-size: .8em;
                padding: .5em 0 0 .5em;
            }
            .premium {
                position: absolute;
                top: 0;
                right: 0;
                padding: .5em .5em 0 0;
            }
            .explicit {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0em .5em .5em 0;
            }
        }
        .layer-content {
            background-color: rgba(82, 0, 214, 0.26);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10000000;
            transition: all 0.5s;
            
        }
    }
    &__body {
        z-index: 1;
        padding: .6em 0rem;
        &__type {
            font-size: .7em;
            color: #727272;
            text-transform: uppercase;
        }
        &__title__container {
            display: block;
            text-decoration: none;
            padding: .1em 0em .1em 0;
            &:hover {
                text-decoration: underline !important;
            }
        }
        &__title {
            font-size: 1em;
            line-height: 1.1;
            font-weight: 500;
            color: var(--light-theme-text-color);
            text-align: start;
        }
        .artist {
            font-size: .9em;
            font-weight: 400;
            color: #727272;
        }
        .artist a  {
            text-decoration: none;
            color: #727272;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.badges {
    .explicit__sign {
        background-color: black;
        color: white;
        border-radius: 3px;
        width: 1.3em;
        height: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .9em;
        border: 1px solid white;
        line-height: 2;
    }
}