
// @font-face {
// 	font-family: 'Nunito';
// 	src: url('/fonts/Nunito/Nunito-Light.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Nunito';
// 	src: url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Nunito';
// 	src: url('/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'Nunito';
// 	src: url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// 	font-display: swap;
// }