.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.pb-8em {
    padding-bottom: 8em !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.ml-auto {
    margin-left: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.pl-4 {
    padding-left: 1.5rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.pointer {
    cursor: pointer;
}
.align-center {
    display: flex;
    align-items: center;
}
.align-end {
    display: flex;
    align-items: flex-end;
}

.align-start {
    display: flex;
    align-items: flex-start;
}
.justify-center {
    display: flex;
    justify-content: center;
}
.justify-end {
    display: flex;
    justify-content: flex-end;
}
.justify-between {
    display: flex;
    justify-content: space-between;
}
.justify-around {
    display: flex;
    justify-content: space-around;
}
.align-justify-center, .justify-align-center  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-100 {
    width: 100%;
}
.info-badge {
    background: $color-primary;
    color: white;
    display: inline;
    text-transform: uppercase;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: 0.6em;
    padding: 0.2em 0.3em;
}
.card-title {
    &-medium {
        font-size: 1.4em;
    }
    &-small {
        font-size: 1.16em;
    }
    font-weight: 500;
    color: $light-theme-text-color;
}

.router-link {
    color: $light-theme-text-color !important;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline !important;
    }
    &__white {
        color: white !important;
    }
}
.force-appearence {
    opacity: 1 !important;
}

.more-or-less {
    cursor: pointer;
    & > * {
        text-align: center;
        margin: 0 0.2rem;
        color: $light-theme-text-color;
        opacity: 0.8;
        &::before,
        &::after {
            content: "";
            width: 25%;
            display: inline-block;
            margin: 0 0.4rem;
            margin-bottom: 0.25rem;
            height: 1px;
            background-color: $light-theme-text-color;
            opacity: 0.8;
        }
    }
}
.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
    &__text {
        background: #fff;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 0 20px;
        text-transform: uppercase;
    }
    &__small {
        width: 80%;
        .divider__text {
            font-size: 10px;
        }
    }
}
.small {
    font-size: 0.8em;
}
.dark-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.45);
}
.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-align-center {
    text-align: center;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute !important;
    &.fill {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.absolute.top {
    top: 0;
}
.absolute.right {
    right: 0;
}
.absolute.bottom {
    bottom: 0;
}
.absolute.left {
    left: 0;
}
.display-none {
    display: none;
}
.opacity {
    &-high {
        opacity: 0.8;
    }
    &-medium {
        opacity: 0.5;
    }
    &-low {
        opacity: 0.25;
    }
}
.max-1-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 1.5em;
    white-space: nowrap;
}
.max-2-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    white-space: nowrap;
}
.large-icon-text {
    font-size: 1.7em;
    font-weight: 600;
}
.full-height {
    height: 100%;
}

.sub {
    font-size: 0.9em;
    font-weight: 400;
    color: $light-theme-text-color;
    opacity: 0.8;
}
.sub a {
    text-decoration: none !important;
    color: $light-theme-text-color !important;
    opacity: 0.8;
    &:hover {
        text-decoration: underline !important;
    }
}

.no-wrap {
    white-space: nowrap;
}

.table-cover {
    border-radius: 5px;
}

.hidden {
    visibility: hidden !important;
}

.content-container {
    max-width: 1280px;
    margin: 0 auto;

    // @media (max-width: 1500px) {
    //     max-width: 1280px;
    // }
}

.bold {
    font-weight: bold;
}
.elevate-page {
    padding-bottom: 8em !important;
}